.para{
:verdana;
	font-size:260%;	color:Red;
	font-family:verdana;
	background-color:lightblue;
}
.para2{
	text-align:left;
	font-size:260%;	color:Red;
	font-family:verdana;
	background-color:lightblue;
}
